@import url("https://fonts.googleapis.com/css2?family=Contrail+One&display=swap");
* {
  font-family: "Contrail One", cursive;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100vh;
}

.world {
  overflow: hidden;
  position: relative;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
}

.start-screen {
  text-transform: uppercase;
  position: absolute;
  font-size: 5vmin;
  width: fit-content;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}

.hide {
  display: none;
}

.ground {
  position: absolute;
  width: 300%;
  bottom: 0;
  z-index: -1;
}

.dino {
  position: absolute;
  left: 1%;
  height: 30%;
  z-index: 1;
}

.obstacle {
  --left: 100;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}
