@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

:root {
  --primary: #1a1c20;
  --secondary: #ffd5cd;
  --accent: #f9813a;
}

* {
  font-family: "Racing Sans One", cursive;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

body {
  align-items: center;
  min-height: 100vh;
  background: var(--primary);
}

button {
  cursor: pointer;
}

.container {
  height: 100vh;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h3 {
  letter-spacing: 0.05em;
  color: var(--secondary);
  text-transform: uppercase;
}
h3 span {
  color: var(--accent);
}

.start-button {
  border: none;
  background: var(--accent);
  color: var(--primary);
  padding: 1vw;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 10vw;
}

/* game */
.world {
  overflow: hidden;
  position: relative;
  z-index: -2;
}

.score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 1vmin;
  color: var(--secondary);
  text-transform: uppercase;
}
.high-score {
  position: absolute;
  font-size: 3vmin;
  right: 1vmin;
  top: 4vmin;
  color: var(--secondary);
}
.score span {
  color: var(--accent);
}

.hide {
  display: none;
}

.ground {
  position: absolute;
  width: 300%;
  height: 100%;
  bottom: 0;
  z-index: -1;
}

.vehicle {
  position: absolute;
  left: 1%;
  height: 20%;
  z-index: 1;
}

.obstacle {
  --left: 100;
  position: absolute;
  left: calc(var(--left) * 1%);
  height: 30%;
  bottom: 0;
}

/* jump button */
.jump-button {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  z-index: 5;
  background: var(--accent);
  border-radius: 10px;
  border: none;
  padding: 0.7em;
}
.jump-button img {
  width: 20vw;
}

/* settings button */
.settings-button {
  position: absolute;
  bottom: 10vh;
  left: 5vw;
  background: var(--accent);
  border-radius: 10px;
  border: none;
  padding: 0.7em;
}
.settings-button img {
  width: 7vw;
}

/* settings popup */
.settings-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffd5cd3e;
  -webkit-backdrop-filter: blur(40px);
  backdrop-filter: blur(40px);
  height: 90%;
  width: 90%;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 10px;
}
.settings-conatiner * {
  scrollbar-width: none;
}

.settings-row {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.settings-last {
  margin-top: 0.7em;
}

.settings-row-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--accent);
}
.settings-row-top h5 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: var(--secondary);
}
.setting-btn {
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 10px;
  width: 3rem;
  margin-bottom: 5px;
}
.setting-btn img {
  width: 1.5rem;
}

.settings-row-cards {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  overflow-x: scroll;
  gap: 2vw;
  align-self: flex-start;
  scrollbar-width: none;
  width: 100%;
}
.settings-row-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 12rem;
  height: 7rem;
  padding: 15px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  cursor: pointer;
}
.settings-row-card h6 {
  color: var(--primary);
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-transform: capitalize;
}
.settings-row-card li {
  color: var(--secondary);
  font-size: 0.7rem;
  text-transform: capitalize;
}
.settings-row-card img {
  width: 9rem;
}
.settings-small-img img {
  align-self: center;
  width: 3rem;
  border-radius: 0 0 4px 4px;
}
.setting-current {
  border: 2px solid var(--accent);
  box-sizing: border-box;
}
.setting-disabled {
  filter: grayscale();
  cursor: not-allowed;
}

/* home page */

.start-title {
  text-transform: uppercase;
  font-size: 10vmin;
  width: 50%;
  color: var(--secondary);
  font-weight: 400;
  line-height: 15vh;
  text-align: center;
}
.start-title > span,
h4 > span {
  color: var(--accent);
}

/* game over text */
.game-over {
  position: absolute;
  background: var(--primary);
  padding: 0.5em;
  border-radius: 20px;
  opacity: 0.9;
}

/* over page */
.over-title {
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-size: 10vmin;
  color: var(--secondary);
  font-weight: 400;
  text-align: center;
}

h4 {
  width: 20%;
  text-transform: uppercase;
  font-size: 5vmin;
  color: var(--secondary);
  font-weight: 400;
  text-align: center;
}

@media (min-width: 900px) {
  .jump-button {
    display: none;
  }
  .settings-button img {
    width: 3vw;
  }

  .settings-row-card h6 {
    width: 150%;
    color: var(--primary);
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }
}
@media (orientation: landscape) and (max-width: 768px) {
  .jump-button {
    bottom: 50vh;
    left: 2vw;
  }
}
